@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  font-family: "Open Sans", sans-serif;
}

.App {
  height: 100%;
  min-height: 100vh;
  background-color: black;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

.globe{
}

.tooltip{
   background-color: rgba(130, 130, 130, 0.8);
   color: white;
   padding: 4px;
}

.error-text{
  color: red;
}

.success {
  color: #22c55e;
}

.primary-text{
  color: white;
}

.form {
    display: flex;
    margin: 0.5rem auto;
    justify-content: center; 
    align-items: center;
    max-width: 500px;
    width: 80%;
}

.input {
  outline: none;
  border: 1px solid #cbd5e0; 
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  width: 100%; 
  padding: 0.5rem;
}

.input:disabled{
  border: 1px solid black;
}

.button {
  background-color: #fb923c; 
  color: white; 
  padding: 0.5rem; 
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  font-weight: bold;
  border: 1px solid #fb923c;
}

.button:hover {
  background-color: #c2410c;
}

.button:disabled {
  background-color: #9a3412; 
  border: 1px solid #9a3412;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  position: relative;
}

.button{
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button:hover {
  transform: translateY(-2px); /* Lift effect on hover */
}

.button:active{
  transform: translateY(0); /* Return to normal position when clicked */
}

.modal-btn-container {
  display: flex;
  justify-content: space-between; /* Evenly spaces Yes and No buttons */
  margin-top: 20px;
}

.modal-btn-success, .modal-btn-error {
  flex: 1;
  margin-right: 10px;
}


.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #aaa;
  transition: color 0.3s ease, transform 0.2s ease;
  background-color: white;
}

.modal-close-btn:hover {
  color: #000;
  background-color: white;

}

.modal-close-btn:focus {
  outline: none;
  background-color: white;

}


.modal-btn-success {
  background-color: #28a745; 

}

.modal-btn-success:hover {
  background-color: #218838; 

}

.modal-btn-success:active {
  background-color: #1e7e34; 

}

.modal-btn-error {
  background-color: #dc3545;  

}

.modal-btn-error:hover {
  background-color: #c82333; 

}

.modal-btn-error:active {
  background-color: #bd2130; 

}